@import url(dashboard.css);

body{
    overflow-x: hidden;
}

.mainContentDiv{
    margin-bottom: 4rem;
}

/* Primary Diet Section  */

h3 {
    font-size: 22px;
    margin-bottom: 10px;
}

p {
    font-size: 16px;
    /* text-align: center; */
    margin-bottom: 20px;
    color: var(--dim-gray);
}

.main-content section{
    margin: 3rem 0;
}

.diet-options {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

/* Food Types Section */

.food-options {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}


/* Exclusions Section */

.exclusion-options {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

/* Medical Concerns Section */

.medical-options {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

/* Meal Layout Section */

.meal-variety {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.meal-btn,.medical-btn,.exclusion-btn,.diet-btn,.food-btn  {
    background-color: var(--panache-white);
    color: var(--nero-black);
    font-weight: 600;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    flex: 1;
    margin: 5px;
}

.add-more-btn i {
    margin-left: 1rem;
    font-size: .8rem;
}

.fa-minus{
    font-size: .8rem;
    color: var(--nero-black);
    border: 2px solid var(--nero-black);
    padding: 5px;
    border-radius: 4rem;
    margin-left: 1rem;

}

/* Button Group */
.button-group {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.action-btn {
    background-color: var(--mantis-light-green);
    color: var(--crusoe-dark-green);
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s ease;
}

.meal-btn:hover,
.action-btn:hover,
.medical-btn:hover,
.exclusion-btn:hover,
.diet-btn:hover,
.food-btn:hover {
    color: var(--mantis-light-green);
    background-color: var(--crusoe-dark-green);
}

.meal-btn i:hover{
    color: var(--mantis-light-green);
    border-color: var(--mantis-light-green);
}

button {
    transition: background-color 0.3s ease;
    margin: 5px;
}


button.selected-green {
    color: var(--mantis-light-green);
    background-color: var(--crusoe-dark-green);
}

button.selected-red {
    background-color: #f44336;
}

.message-container {
    margin-top: 20px;
    padding: 15px;
    border-radius: 5px;
    text-align: center;
    display: none; 
}

/* Success message style */
.message-container.success {
    background-color: #033419;
    color: white;
}

/* Error message style */
.message-container.error {
    background-color: #f44336;
    color: white;
}


